dist
build
node_modules
package-lock.json
migrate.sh
*/dev.js
data/*
executables/*
namespace/*
config/*
.env.local
.env
taskStateInfoKeypair.json
localKOIIDB.db
# Ignore log files
*.log

# Ignore RocksDB data files
rocksdb/
test-ledger/rocksdb/

# Ignore snapshots or backups
test-ledger/snapshot/
*.tar.bz2


